* {
  box-sizing: border-box;
}


/* Start here */

body {
background-color:#000;
}



.eye{
  width:300px;
  height:300px;
  position:relative;
  border:1px solid #000;
  border-radius:50%;
  background-color: white;
  margin-top:200px;
  margin-left: 18vw;
}

.blink{
  width:300px; height:300px;
  border-radius: 50%;
  background:#000;
  animation:flipAround 2s infinite ease;
  transform-origin:bottom;
  margin-top: -600px;
  margin-left: 18vw;
  display:none ;
}

@keyframes flipAround {
  25% { transform-origin:bottom; transform:translateX(0px) rotateX(-180deg); }
}

.pupil{
  width:100px;
  height:100px;
  left:100px;
  top:100px;
  border-radius:50%;
  background-color:black;
  position:relative;
}

.eye2{
  width:300px;
  height:300px;
  position:relative;
  border:1px solid #000;
  border-radius:50%;
  background-color: white;
  margin-top: -300px;
  margin-left: 58vw;
}


  .blink2{
    width:300px; height:300px;
    border-radius: 50%;
    background:#000;
    animation:flipAround 2s infinite ease;
    transform-origin:bottom;
    margin-top: -300px;
    margin-left: 58vw;
    display:none ;
  }
  @keyframes flipAround {
    25% { transform-origin:bottom; transform:translateX(0px) rotateX(-180deg); }
  }
